* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', 'heiti'
}

.token.selector {
    color: black;
}

.token.property {
    color: black;
}

.token.function {
    color: black;
}

#code {
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}

body {
    position: relative;
}